* {
  margin: 0;
  
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain; /* Keeps the aspect ratio of the image perfect. It woun't make it look stretch or broken */
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.app__headerImage {
  height: 40px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin__forgotpassword {
  cursor: pointer;
}

.app__upload {
  text-align: center;
  padding: 30px;
  border-top: 1px solid lightgray;
}